<p>add-recipe works!</p>

<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <label for="recipeName">Recipe Name</label>
    <input type="text" id="recipeName" formControlName="recipeName" />

    <label for="source">Source</label>
    <input type="text" id="source" formControlName="source" />

    <label for="sourcePage">Source Page</label>
    <input type="text" id="sourcePage" formControlName="sourcePage" />

    <hr />
    
    
</form>


<form [formGroup]="ingredientForm" (ngSubmit)="addIngredient()">
    <label for="ingredientName">Ingredient</label>
    <input type="text" id="ingredientName" formControlName="ingredientName"/>

    <label for="aisle">Aisle</label>
    <input type="text" id="aisle" formControlName="aisle"/>

    <label for="amount">Amount</label>
    <input type="number" id="amount" formControlName="amount" />

    <label for="measurement">Measurement</label>
    <input type="text" id="measurement" formControlName="measurement" />

    <label for="optional">Optional</label>
    <input type="checkbox" id="optional" formControlName="optional" />

    <button>Add Ingredient</button>
</form>

<hr>

<div *ngIf="display.length > 0">
    <h2>Current Ingredients</h2>
    <p *ngFor="let ingredient of display">{{ingredient}}</p>
</div>


<button (click)="onSubmit()">Add Recipe</button>
<button (click)="resetForm()">Reset All</button>
