<h1>Shopping Companion</h1>
<!-- <nav>
  <a routerLink="/ingredients">Add Ingredients</a>
  <a routerLink="/recipes">Add Recipes</a>
  <a routerLink="/search">Search Recipes</a>
</nav> -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="/ingredients">
      <mat-icon>add</mat-icon>
      Add Ingredient
    </button>
    <button mat-button routerLink="/recipes">
      <mat-icon>add</mat-icon>
      Add Recipe
    </button>
    <button mat-button routerLink="/search">
      <mat-icon>search</mat-icon>
      Search Recipes
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>