<h1>Shopping Companion</h1>
<!-- <nav>
  <a routerLink="/ingredients">Add Ingredients</a>
  <a routerLink="/recipes">Add Recipes</a>
  <a routerLink="/search">Search Recipes</a>
</nav> -->

<mat-toolbar>
  <mat-toolbar-row>
        <button mat-raised-button color="primary" routerLink="/ingredients">
          Add Ingredient
        </button>
        <button mat-raised-button color="accent" routerLink="/recipes">
          Add Recipe
        </button>
        <button mat-raised-button color="warn" routerLink="/search">
          Search Recipes
        </button>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<br>
<router-outlet></router-outlet>